extends layout


block variables
	- var page_title= title

include menu

block header
	header#header.header
		+menu(user)

block content(user)
	main#command_edit_page
		span#span_command_file_edit_screen_name
				Edit #{package.package_name}
		form#command_editor_form(method='POST', action='/admin/commands/' + file_name, enctype='application/x-www-form-urlencoded')
			section#new_command_section_easy
				fieldset#fieldset_for_form_heading 
					h1.heading_for_adding_items Edit your bot command

				fieldset#command_item_name(class="edit_command_fieldset")
					article#add_command_name_container(class="edit_command_fieldset_article")
						label(class="new_command_label",for='command_name') Package name
						input#command_name(class="package_item_input",type='text',name='package_name_input', placeholder='Write here...', value=package.package_name) 

				fieldset#command_item_description(class="edit_command_fieldset")
					article#add_command_description_container(class="edit_command_fieldset_article")
						label(class="new_command_label",for='command_description') Package description 
						textarea#command_description(class="package_item_input",type='text',name='package_description_input', placeholder='Write here...', value=package.package_items[0]) 

				fieldset#add_command_cost(class="edit_command_fieldset")
					article#add_command_cost_fields_container(class="edit_command_fieldset_article")
						label(class="new_command_label",for='command_cost_input') Package cost
						input#command_cost_input(class="package_item_input", type='text', name='package_cost_input', placeholder='Command cost...', value=package.package_cost) 

			fieldset#edit_command_form_field_buttons.fieldset_for_form_buttons
					button#save_changes_to_command_button(type='submit') Save package changes
					button#cancel_changes_to_command_button(type='button') Cancel packages changes
		
		script(src='/javascripts/commands_form.js')