extends layout

block variables
	- var page_title= title
	- var submit_modal_title= "Edit command"
	- var submit_modal_description = "Are you satisfied with the current package data?"
	- var cancel_modal_title = "Go back"
	- var cancel_modal_description = "Are you sure you want to go back to the previous page?"

include menu
include cancelModal

block header
	header#header.header
		+menu(user)

block content(user)
	main#command_edit_page
		+cancelModal(cancel_modal_title, cancel_modal_description)
		span#span_command_file_edit_screen_name
				h1 #{package.package_name}
		form#command_editor_form(method='POST', action='/admin/botcommand/new' + file_name, enctype='application/x-www-form-urlencoded' class="needs-validation bot_data_form")
			section#new_command_section_easy
				fieldset#fieldset_for_form_heading 
					h3.heading_for_adding_items View your bot command

				fieldset#command_item_name(class="edit_command_fieldset")
					article#add_command_name_container(class="edit_command_fieldset_article")
						label(class="new_command_label",for='command_name') Package name
						input#command_name(class="package_item_input",type='text',name='package_name_input', placeholder='Write here...', value=package.package_name) 

				fieldset#command_item_description(class="edit_command_fieldset")
					article#add_command_description_container(class="edit_command_fieldset_article")
						label(class="new_command_label",for='command_description') Package description 
						textarea#command_description(class="package_item_input",type='text',name='package_description_input', placeholder='Write here...', value=package.package_description) 

				fieldset#add_command_cost(class="edit_command_fieldset")
					article#add_command_cost_fields_container(class="edit_command_fieldset_article")
						label(class="new_command_label",for='command_cost_input') Package cost
						input#command_cost_input(class="package_item_input", type='text', name='package_cost_input', placeholder='Command cost...', value=package.package_cost) 

			fieldset#edit_command_form_field_buttons.fieldset_for_form_buttons
					button#save_changes_button(type='submit') Save package changes
					button#cancel_changes_button(type='button' onclick="history.back()") Go back
		
		script(src='/javascripts/commands_form.js')