mixin footer
	//p.wiki_link See the bot wiki on GitHub to see how to make your own SCUM server bot
	//	a.wiki_link_anchor(href='https://github.com/JacobGraham02/SCUMChatMonitor/wiki') here
	//p.discord_invite Join the official True Castaways&copy discord server
	//	a#anchor_tag_discord_invite(href='https://discord.gg/4BYPXWSFkv') here
	p.copyright Copyright &copy 2024 Jacob Graham <<strong>jacobdgraham02@gmail.com</strong>> and Gary Graham. All rights reserved.
	p.github https://github.com/JacobGraham02/ChatMonitorMan.git (privated)
	p.personal-email Remember to email jacobdgraham02@gmail.com if you encounter any issues with your bot, or want to discuss with me anything related to the bot