extends layout

block variables
    - var page_title = 'FTP data editor'

include menu

block header
    header#header.header
        +menu(user)

block content(user)
    main#ftp_server_data_edit_page
        h1#ftp_server_data_edit_page_heading 
            | Change the FTP data that allows the bot to interact with your SCUM server
        fieldset#fieldset_for_ftp_data_page_disclaimer
            h1.heading_for_ftp_server_data On this page, you must specify the FTP server details for your server provider
        span#span_ftp_server_data_screen_name
            | #{file_name}
        form#ftp_server_data_form(class="needs-validation" method='POST', action='/admin/setftpserverdata/')
            section#new_ftp_server_data_section
                .row.justify-content-center
                    .col-md-4
                        fieldset#ftp_server_hostname_fieldset 
                            article#ftp_server_hostname_article(class='article_for_ftp_server_hostname')
                                label(class="ftp_server_data_label",for='ftp_server_hostname_input') FTP server IP address (Must be an IPv4 address of the format: x.x.x.x where x is between 0 and 255)
                                input#ftp_server_hostname_input(class="form-control",type='text',name='ftp_server_hostname_input', placeholder='192.168.122.56')
                                #ftp_server_hostname_feedback.invalid-feedback Invalid IP address format
                    .col-md-4
                        fieldset#ftp_server_port_fieldset
                            article#bot_ingame_chat_channel_id_article(class='article_for_ftp_server_port')
                                label(class="ftp_server_data_label",for='ftp_server_port_input') FTP server port number (Port number will be between 49152 and 65535)
                                input#ftp_server_port_input(class="form-control",type='text',name='ftp_server_port_input', placeholder='52000')
                                #ftp_server_port_feedback.invalid-feedback Invalid port number format
                .row.justify-content-center
                    .col-md-4
                        fieldset#ftp_server_username_fieldset
                            article#bot_ingame_logins_channel_id_article(class='article_for_ftp_server_username')
                                label(class="ftp_server_data_label",for='ftp_server_username_input') FTP server username (e.g. JacobG123)
                                input#ftp_server_username_input(class="form-control",type='text',name='ftp_server_username_input', placeholder='JacobG123')
                                #ftp_server_username_feedback.invalid-feedback Invalid username format
                    .col-md-4
                        fieldset#ftp_server_password_fieldset
                            article#bot_ingame_new_player_joins_id_article(class='article_for_ftp_server_password')
                                label(class="ftp_server_data_label",for='ftp_server_password_input') FTP server password (e.g. aED1PbAfqBTjPWnRF1kKUQgd)
                                input#ftp_server_password_input(class="form-control",type='password',name='ftp_server_password_input', placeholder='aED1PbAfqBTjPWnRF1kKUQgd')

                .row.justify-content-center.mt-3
                    .col-md-4.d-flex.justify-content-between
                        fieldset#ftp_server_data_form_field_buttons
                            button#save_changes_to_ftp_server_data_button(class="btn btn-primary" type='submit') Save
                            button#cancel_changes_to_ftp_server_data_button(class="btn btn-secondary" type='button') Cancel
