extends layout

block variables
    - var page_title= 'Welcome to Scum Chat Monitor!' 

block content(user)
    main#admin_index_main
        section#admin_index_page_container
            h1#welcome_to_scumbot_interface_heading 
             | Welcome to the Scum Chat Monitor web interface, #{user.admin_username}.
            p.welcome_to_scumbot_interface_paragraph This website interface is currently in-progress, and is lacking certain features. Right now, you can only view a list of commands and click a button to recompile an executable to use for the application. You can access these buttons on the menu on the left-hand side of the screen. 
            p.welcome_to_scumbot_interface_paragraph The <span id="welcome_to_scumbot_interface_bot_command_list_button_span">Bot commands</span> button brings you to a page  that lists all of the commands available to the bot. The edit functionality does not currently work, and you can only add commands.
            p.welcome_to_scumbot_interface_paragraph The <span id="welcome_to_scumbot_interface_recompile_executable_button_span">Recompile executable</span> button allows you to recompile the application executable, adding any new commands to the bot.

            
