include footer
include menu
include modal 

block variables
doctype html
html
  head
    title= page_title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/x-icon', href='/images/wilson.ico') 
    script(src='/javascripts/page_timeout.js' defer)
  body
    block header
        header#header.header
            +menu(user)

    block content
        main#main
            +modal

    block footer
        footer#footer
            +footer