include footer
include menu

block variables
doctype html
html(lang="en")
  head
    title= page_title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/x-icon" href="/images/wilson.ico")
    <script src="https://kit.fontawesome.com/5c31bb5020.js" crossorigin="anonymous"></script>
  body
    block header
      header#header.header
        +menu(user)

    block content(user)
      main#main

    block footer
      footer#footer
        +footer
