extends layout

block variables
	- var page_title= title

include menu
include smallModal
include successModal
include cancelModal
include errorModal

block variables
	- var page_title= title
	- var submit_modal_title= "Create command"
	- var submit_modal_description = "Are you sure you want to create this package?"
	- var cancel_modal_title = "Cancel command creation"
	- var cancel_modal_description = "Are you sure you want to go back to the previous page?"

block header
	header#header.header
		+menu(user)

block content(user)
	main#command_new_page
		+smallModal(submit_modal_title, submit_modal_description)
		+cancelModal(cancel_modal_title, cancel_modal_description)
		if show_submit_modal 
			+successModal(alert_title, alert_description)
		if show_error_modal
			+errorModal(alert_title, alert_description)
		div#create_command_page_heading_container
			h1#create_command_page_header_h1 Create a new command and register it with the bot

		form#new_command_form(method='POST', action='/admin/botcommand/new', enctype='application/x-www-form-urlencoded' class="needs-validation bot_data_form") 
			section#new_command_section
				fieldset#fieldset_for_form_heading 

				fieldset#command_item_name.new_command_data_fieldset 
					article#add_command_name_container.new_command_data_fieldset_article
						label(class="new_command_label",for='command_name') Command name. Maximum length of 50 letters and/or numbers
						input#command_name(class="new_command_input_field validate-input",type='text',name='command_name', 
						placeholder='(Required) Pineapple box...', minlength='1', maxlength='50', required, data-maxlength='50' pattern="^[A-Za-z0-9]{1,50}$")
						span#command_name_feedback
						span.char_count(data-for='command_name') 

				fieldset#command_item_description.new_command_data_fieldset 
					article#add_command_description_container.new_command_data_fieldset_article
						label(class="new_command_label",for='command_description') Command description. Maximum length of 1000 letters and/or numbers
						textarea#command_description(class="new_command_input_field validate-input",type='text',name='command_description',
						placeholder='(Optional) This command...', minlength='1', maxlength='1000', required, data-maxlength='1000', pattern="^[A-Za-z0-9\\-_=+\\{};:'\",<.>/?\\[\\] ]{1,1000}$")
						span#command_description_feedback
						span.char_count(data-for='command_description') 

				fieldset#dropdown_menu_for_spawn_item.new_command_data_fieldset 
					label(class="new_command_label") Add new package items
					article#add_item_fields_container.new_command_data_fieldset_article
						div.individual_add_item_label_and_input
							label(for='item_input') Choose package item
							input.item_input(class="new_command_input_field",type='text', name='item_input', list='items_list', 
							placeholder='(Required) start typing to begin searching...', maxlength='100' required, data-maxlength='100')
							input#hidden_command_id_input(type='hidden',name='item_input_value')
							button.delete-item-btn(type='button', onclick="this.parentNode.remove();") Delete item
						datalist#items_list 
					article#add_another_item_button_container
						button#add_item_button(type='button') Add item

				fieldset#add_command_cost.new_command_data_fieldset 
					article#add_command_cost_fields_container.new_command_data_fieldset_article
						label(class="new_command_label",for='command_cost_input') Command cost. Maximum length of 6 numbers
						input#command_cost_input(class="new_command_input_field validate-input", type='number', name='command_cost_input', 
						placeholder='(Required) 1000...', maxlength='6', minlength='1', data-maxlength='6' pattern="^[0-9]{1,6}$")
						span#command_cost_feedback
						span.char_count(data-for="command_cost_input")

				fieldset#edit_command_form_field_buttons.new_command_data_fieldset 
						button#save_changes_button(type='submit') Create 
						button#cancel_changes_button(type='button') Back

	script(src='/javascripts/commands_form.js')
	script(src='/javascripts/show_submit_modal.js')
	script(src='/javascripts/validate_form_fields.js')