extends layout

block variables
	- var page_title= title

include menu
include smallModal
include successModal
include errorModal

block header
	header#header.header
		+menu(user)

block content(user)
	main#command_new_page
		+smallModal
		if show_submit_modal 
			+successModal(alert_title, alert_description)
		if show_error_modal
			+errorModal(alert_title, alert_description)
		div#create_command_page_heading_container
			h1#create_command_page_header_h1 Create a new command and register it with the bot

		form#new_command_form(method='POST', action='/admin/botcommand/new', enctype='application/x-www-form-urlencoded' class="needs-validation bot_data_form") 
			section#new_command_section_easy
				fieldset#fieldset_for_form_heading 

				fieldset#command_item_name 
					article#add_command_name_container(class='input_for_easy_command_creation')
						label(class="new_command_label",for='command_name') Command name. Maximum length of 50 letters and/or numbers. 
						input#command_name(class="new_command_input_field",type='text',name='command_name', 
						placeholder='Write here...', minlength='1', maxlength='50', required)

				fieldset#command_item_description
					article#add_command_description_container(class='input_for_easy_command_creation')
						label(class="new_command_label",for='command_description') Command description. Maximum length of 1000 letters and/or numbers.
						textarea#command_description(class="new_command_input_field",type='text',name='command_description', 
						placeholder='Write here...', minlength='1', maxlength='1000',required)

				fieldset#dropdown_menu_for_spawn_item 
					article#add_item_fields_container(class='input_for_easy_command_creation')
						div.individual_add_item_label_and_input
							label(class="new_command_label",for='item_input') Choose package item
							input.item_input(class="new_command_input_field",type='text', name='item_input', list='items_list', 
							placeholder='Type to search...', maxlength='100' required)
							input#hidden_command_id_input(type='hidden',name='item_input_value')
						datalist#items_list 
					article#add_another_item_button_container
						button#add_item_button(type='button') Add another item

				fieldset#add_command_cost 
					article#add_command_cost_fields_container(class='input_for_easy_command_creation')
						label(class="new_command_label",for='command_cost_input') Command cost. Maximum length of 6 numbers. 
						input#command_cost_input(class="new_command_input_field", type='number', name='command_cost_input', placeholder='Command cost...', 
						maxlength='6', minlength='1' pattern="[0-6]{1,6}")

				fieldset#edit_command_form_field_buttons
						button#save_changes_button(type='submit') Create 
						button#cancel_changes_to_command_button(type='button') Cancel

	script(src='/javascripts/commands_form.js')
	script(src='/javascripts/show_submit_modal.js')
