################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SCUMChatMonitor/scumchatmonitor.exe
/SCUMChatMonitor/gmail-credentials.json
