extends layout

block variables
	- var page_title = 'ScumMonitorBot' 

block header
	h1.welcome_message ScumMonitorBot
	div.index_page_header_buttons
		a.index_page_login_button(href='login') Log in to your account


block content
	h1 Links you may find interesting
	ul.list_of_landing_page_links 
		li.how_to_use How to use: Coming soon
		li.documentation Documentation: Coming soon
		li.how_bot_is_made The process of building your own SCUM bot: Coming soon
