block variables
doctype html
html
  head
    title= page_title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/x-icon', href='/images/wilson.ico') 
    script(src='/javascripts/page_timeout.js')
  body
    block header
        header#header

    block content
        main#main

    block footer
        footer#footer
            p.wiki_link See the bot wiki on GitHub to see how to make your own SCUM server bot 
                a.wiki_link_anchor(href='https://github.com/JacobGraham02/SCUMChatMonitor/wiki') here
            p.discord_invite Join the official Real Castaways&copy discord server 
                a#anchor_tag_discord_invite(href='https://discord.gg/4BYPXWSFkv') here 
            p.copyright Copyright &copy 2023 Jacob Graham and Gary Graham. All rights reserved. 
            p.github https://github.com/JacobGraham02/ChatMonitorMan.git (privated)
