block variables
doctype html
html
  head
    title= page_title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/page_timeout.js')
  body
    block header
    block content   
    block footer
        p.discord_invite Join the official Real Castaways&copy discord server 
            a#anchor_tag_discord_invite(href='https://discord.gg/4BYPXWSFkv') here 
        p.copyright Copyright &copy 2023 Jacob Graham and Gary Graham. All rights reserved. 
        p.github https://github.com/JacobGraham02/ChatMonitorMan.git (privated)
