extends layout

block variables
 - var page_title = 'SCUM chat bot interface' 

include menu

block header
 header#header.header
  +menu

block content
 main#main
  aside#bot_interface_welcome_container
   h1.bot_interface_index_title Welcome to the official Scum Monitor Man™; web interface
   h1.bot_interface_index_title Please log in to your account by using the navigation menu on the left side of the screen. You can view the bot interface after logging in
   a#index_page_home_button(href='/' title='A link to go to the website home page')
    img#landing_page_wilson_picture(src='images/WilsonBot.png', alt='The WilsonBot logo')
	
