extends layout

block variables
	- var page_title = "Log in to your account"

include menu

block header
	header#header.header
		+menu
	
block content
	main#main
		section#login_section
			-if (invalid_login_message !== undefined) {
				p#failed_login_message= invalid_login_message
			-}
			h1#log_in_to_account_heading Log in to your account
			aside#invalid_login_message
			-if (invalid_login_message !== undefined) {
				p#failed_login_message= invalid_login_message
			-}
			form#login_fields_form(action='/login' method='post') 
				fieldset#login_username_field.login_fieldset
					label#form_login_username_label.login_label(for='email') Email address:
					input#form_login_username_input.login_input(type='text' name='email')

				fieldset#login_password_field.login_fieldset
					label#form_login_password_label.login_label(for='password') Password:
					input#form_login_password_input.login_input(type='password' name='password')

				article#login_form_submit_button_article
					button#button_submit_login(action='submit') Log in
	script(src="/javascripts/login_page.js")
	