extends layout

block variables
	- var page_title = 'Admin dashboard' 


block content
	article#bot_command_list_article
		ul#bot_command_list
			- for (let i = 0; i < command_files.length; i++) {
				li#bot_command_list_item
					a#bot_command_list_item_edit(href=`/admin/commands/${command_files[i]}`)= command_files[i]
					a.bot_command_list_item_delete(href=`/admin/commands/delete/${command_files[i]}`) Delete this command
			-}
	a#create_new_command_link(href='/admin/commands/new') Create new command

	script(src='/javascripts/delete_bot_command.js')

block footer
	footer
