include footer
include menu

block variables
doctype html
html
  head
    title= page_title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/x-icon', href='/images/wilson.ico') 
    script(src='/javascripts/page_timeout.js' defer)
  body
    block header
        header#header.header
            +menu(user)

    block content
        main#main

    block footer
        footer#footer
            +footer